.app{
  width: 100%;
  height: 100%;

}
.titlered{
  color: red;
  text-align: center;
  font-size: 5rem;
  

}

.imge{
  width: 1000px;
  height: 250px;
  display:flex;
  justify-content: space-between;

  padding-bottom: 30px;
}
.iframe{
  margin-left: 50%;
}